 <% include ../partials/header%>
<div class="container">
    <div class="row">
    <h1 style="text-align:center">EDIT <%=campground.name.toUpperCase()%></h1>    
<div style="width:30% ;margin:25px auto">
    
<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
    <div class="form-group"> <input class="form-control" type="text" placeholder="name" name="Campground[name]" value="<%=campground.name%>"></div>
   <div class="form-group">  <input class="form-control" type="text" placeholder="image url " name="Campground[image]" value="<%=campground.image%>"></div>
   <div class="form-group">  <input class="form-control" type="text" placeholder="description" name="Campground[description]" value="<%=campground.description%>"></div>
   <div class="form-group">  <input  class="btn btn-lg btn-primary btn-block" type="submit"></div>
</form>
<a href="/campgrounds">Back</a>
</div>

    </div>
</div>


<% include ../partials/footer%>